
/*초기화*/
*{
    margin:0; padding:0;
    font-family:'맑은 고딕','Malgun Gothic',sans-serif;
}

a{text-decoration:none;}
li{list-style:none;}

/*페이지 구성*/
body{
    width:1300px; 
    margin: 20px auto;
}

/*내비게이션*/
#main-navigation{ 
    overflow:hidden; /*수평 정렬*/

    position:fixed; /*고정 위치 바*/
    left:0; top:0; right:0;
    height:80px;
    background-color:#74db76;
    z-index:100; /*절대 위치로 설정한 태그가 이 태그의 뒤로 오도록*/
}   

.outer-menu-item{
    float:right;
    text-align:center;
    margin: 0 30px;
}
.menu-title{
    font-weight:900;
    font-size:20px;
}

.outer-menu-item:nth-child(2n) a:hover{
    color:rgb(14, 129, 174);
    font-weight:bold;
}
.outer-menu-item:nth-child(2n+1) a:hover{
    color:green;
    font-weight:bold;
}

#content{
    margin-top:80px;
}

.outer-menu-home{ /*메인화면으로 돌아가는 기능*/
    float:left;
    margin:20px 0 0 20px;
}

/*본문*/

#container{ /*절대 위치 요소 배치*/
    height: 500px;
    overflow:hidden;
    position:relative;
    z-index:1;
}

.paper{
    width:500px; height:100px;
    position:absolute;
    left:170px; top:30px;
}

.glass{
    width:500px; height:100px;
    position:absolute;
    right:50px; top:30px;
}

.plastic{
    width:500px; height:100px;
    position:absolute;
    left:170px; bottom:50px;
}

.can{
    width:500px; height:100px;
    position:absolute;
    right:50px; bottom:50px;
}

/*본문 - 퀴즈*/
#title{
    font-size: 32px;
}
#quiz{ /*절대 위치 배치*/
    position:relative;
    height:300px;
    margin-top:90px;
    z-index:1;
}

table{
    position:absolute;
    left:300px;
    top:100px;
    text-align: center;
}

table *{
    margin: 30px 0 40px 0;
}

.article-title{
    background-color: #bcf5c6;
}

/*푸터*/
#main-footer {
    margin-top:1000px;
    
}